.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1.6vmin);
  padding: 0 48px;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 1.6vmin);
}

#by {
  color: #ffffff44;
}

#remaining {
  margin: -4vw auto -2vw auto;
  font-size: 20vw;
}

#social {
  position: fixed;
  bottom: 14px;
  right: 16px;
  margin: 0;
}

#toggleMode {
  z-index: 1;
  background-color: #4caf5080;
  color: white;
  padding: 8px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
}

#thisIsNotButton {
  color: #ffffff44;
}

#progress {
  margin: 8px;
  width: 800px;
  max-width: 100%;
  height: 20px;
}

p {
  margin: 10px auto;
}
