.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding: 0 48px;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

#by {
  font-size: 80%;
  color: #ffffff44;
  margin-top: 0;
}

#remaining {
  margin: -4vw auto -2vw auto;
  font-size: 24vw;
}

#social {
  position: fixed;
  bottom: 16px;
  right: 16px;
  margin: 0;
}

p {
  margin: 10px auto;
}
